sudo: false
language: php
php:
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly
matrix:
  allow_failures:
    - php: nightly
before_install:
  - composer install --dev -n --prefer-source
script:
  - ./vendor/bin/phpunit -c phpunit.xml.dist
notifications:
  email:
    on_failure: always
    on_success: change
    recipients:
      - tech@videodock.com
